* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color:whitesmoke;
}
.empty{
    height:100%;
 width:100%;
/*background-color: rgb(226, 183, 43);*/
display: flex;
    align-items: center;
    justify-content: center;

}
.tagdiv
{
 height:90%;
 width:90%;
/* background-color:blue;*/
 display: flex;
    align-items: center;
    justify-content: center;
}
.picture
{
    height:100%;
    width:40%;
    /*background-color: aqua;*/
}
.picture img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.tagsdiv
{
    height:100%;
    width:60%;
    /*background-color:brown;*/
    overflow: hidden;
}
.para
{
height:75%;
width:100%;
/*background-color: blueviolet;*/
margin:7%;
display: flex;
    align-items: center;
    justify-content: center;
}

.para1 a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-family: "Open Sans", sans-serif;
    font: weight 50px;
    font-size:24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
 .para1 p{ 
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-family: "Open Sans", sans-serif;
    font: weight 5px;
    word-spacing:5px; 
    font-size:11px;
    display: flex;
    align-items:center;
    justify-content:baseline;
    margin:10px
}
.btn
{
 height:25%;
 width:100%;
 /*background-color:rgb(26, 187, 187);*/
 display:flex;
 align-items:first baseline;
 justify-content:center;
 }
.btn a{
     text-decoration: none;
    color: rgb(245, 241, 241);
    padding:10px 20px;
    border-radius:5px;
    background-color:rgb(25, 183, 25);
    border:none;
    text-transform: uppercase;
}

